{% extends 'index-cajero.html' %}

{% block conten %}
    <form method="post" action="/sell/create_client/">
        {% csrf_token %}
        <div class="row">
            <div class="col" id="title">
                <h3 id="font">Client Creation Form</h3>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-4">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Example Client" id="name" name="name">
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" placeholder="Client Last Name" id="name" name="last_name">
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-4">
                <div class="mb-3">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                           name="person_address">
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="Number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           placeholder="+57 300696969" name="phone">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="dni" placeholder="1007696969" name="dni">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="element-end">
                <button type="submit" class="btn" id="btn-form">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}