{% extends 'index-cajero.html' %}
{% block conten %}
    <div class="row">
        <div class="col" id="title" style="padding-top: 3%">
            <h3 id="font">Ticket</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">ID Cashier</th>
                    <th scope="col">ID Customer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ticket.ticket_date }}</td>
                    <td>{{ ticket.fk_id_person_cashier.person_dni }}</td>
                    <td>{{ ticket.fk_id_person_customer.person_dni }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col" id="title" style="padding-top: 3%">
            <h2 id="font" style="font-size: 2rem">Products</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name Product</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Unit Price</th>
                </tr>
                </thead>
                <tbody>

                {% for product in products %}
                    <tr>
                        <td>{{ product.fk_id_tax_price_product.fk_id_price_product.fk_id_product_provider.fk_id_product.product_name }}</td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.fk_id_tax_price_product.fk_id_price_product.sale_price|add:product.fk_id_tax_price_product.fk_id_tax.tax_value }}</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <td/>
                    <td>Payment</td>
                    <td>{{ ticket.half_payment }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2" style="text-align: center">
            <a class="btn btn-primary" id="btn-form" href="{% url 'index cajero' %}?user_name={{ user.username }}" role="button">Finish</a>
        </div>
    </div>
{% endblock %}